.back{
    font-size: 80px !important;
    width: 100px !important;
    color:gray;
    margin-top: 20px;
    margin-left: 20px;
    background-color: aqua;
    border-radius: 25px;
}

.back:hover{
    cursor: pointer;
}