.back{
    font-size: 80px !important;
    width: 100px !important;
    color:white;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #020112;
    border-radius: 25px;
    position: fixed;
    z-index: 1;
}

.back:hover{
    cursor: pointer;
}

.skeleton{
    width:90%;
    height:1400px !important;
    left:0;
    right:0;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.brak{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
    
}

.page{
    min-height: calc(100vh - 164px);
}