$nav-height: 70px;

.navbar {
	width: 100%;
	height: $nav-height;
	background-color: #67809f;
	display:flex;
	align-items: center;
	justify-content: space-between;
    position: fixed;
	z-index: 100;
    top:0%;
    border-radius: 0% 0% 6% 6%;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.navbar h1{
	color: white;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 15px;
	min-width:max-content;
}

.ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #67809f;
	width: 70%;
	height: $nav-height;
	font-weight: bold;
	border-radius: 0% 0% 6% 0%;
  }
.li {
	float: left;
	margin-left: 30px;
}
.li a {
	display: inline-block;
	color: black;
	padding: 14px 16px;
	height: $nav-height - 28.2;
	font-size: 25px;
	
}

  
.li a:hover {
	background-color: #111;
	color: white;
}

.lis {
	float: left;
	margin-left: 30px;
}
.lis a {
	display: inline-block;
	color: black;
	padding: 14px 16px;
	height: $nav-height - 28.2;
	font-size: 25px;
	
}
  
.lis a:hover {
	background-color: #111;
	color: white;
}
.spacer{
	float: left;
	width: 100px;
}

.li:hover a {background-color: black; color:white; border-radius: 15px;}
.lis:hover a {background-color: black; color:white; border-radius: 15px;}



.sicon{
	margin-right: 50px;
	margin-bottom: 5px;
}

.sicon:hover{
	color: white;
}


@media only screen and (max-width: 600px) {
	.navbar h1, .li a {
		color: white;
		font-size: 15px;
		margin-left: 5px;
	}
}