
.sub_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #28559a;
    color:white;
	border-radius: 20px;
    border:2px solid black;
    box-shadow: 0 0 1px 1px black;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
    position:relative;
    top:0; left:0; right:0; bottom:0; 
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: 320px;
    
}

.form_box{
	margin-left: 250px;
    width: 800px;
    background-color: #ebebeb;
    border-radius: 40px;
    position: relative;
    top:0; left:0; right:0; bottom:0; 
    margin: 0 auto;
}
.field1,.field2,.field3,.field4,.field5{
	margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.field1_label{
	margin-bottom: 200px;
}

.input{
	width: 500px;
	height: 50px;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgba(42, 91, 195, 0.3);
    color: black;
    border-radius: 5px;
}

.input2{
	width: 500px;
	height: 150px;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgba(42, 91, 195, 0.3);
    color: black;
    border-radius: 5px;
}

.input3{
	width: 500px;
	height: 50px;
    background-color: white;
    border: 3px solid rgba(42, 91, 195, 0.3);
    color: black;
    border-radius: 5px;
    font-size: 20px;
}

.input4{
	width: 200px;
	height: 50px;
    background-color: white;
    border: 3px solid rgba(42, 91, 195, 0.3);
    color: black;
    border-radius: 5px;
}

.inputIm{
	width: 250px;
	height: 25px;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
}

.message{
    margin-left: 15px;
    text-align: center;
}

.main_container{
	margin:0;
	height: 100vh;
}

.select{
	width: 310px;
	margin-bottom: 20px;
    text-align: center;
    position:relative;
    left: 27.7%;
}


.selectLabel{
    left: 28%;
    position: relative;
}

textarea {
    resize: none;
  }

  textarea,
  input[type=text] {
      font-family:Arial;
      font-size: 30px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 19px;
    font-weight: bold;
    color:grey;
    line-height: 1.5em;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 19px;
    font-weight: bold;
    color:grey;
    line-height: 1.5em;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 19px;
    font-weight: bold;
    color:grey;
    line-height: 1.5em;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 19px;
    font-weight: bold;
    color:grey;
    line-height: 1.5em;
  }