.title{
    text-align: center;
    font-size: 50px;
    width:70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}
.description{
    text-align: center;
    width:80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}
.fundT{
    text-align:left;
    font-weight: bold;
    font-size: 30px;
    width:80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}
.money{
    font-weight: bold;
    color:rgb(45, 134, 212);
    font-size: 30px;
    width:80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}

.volunteer{
    font-weight: bold;
    color:green;
    font-size: 30px;
    width:80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}
.photos{
    margin-top: 20px;
}
.close{
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 80px !important;
    border-radius: 30px;
}

.close:hover{
    background-color: rgb(128, 128, 128,0.1);
}

.display{
    background-color: #f4f3f3;
    width: 95%;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0px 10px 10px -5px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.verification{
    left: 0;
    right:0;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    height:150px;
    width:90%;
    position:relative;
    white-space: nowrap;
    overflow:hidden;
    text-align: center;
    background-color:rgb(168, 164, 164);
    border-radius: 30px;
    border: 3px solid rgb(134, 129, 129);
}

.button{
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 25px;
}
.stats{
    display:flex;
    justify-content: center;
    column-gap: 50px;
}

.fixfooter{
    min-height: calc(100vh - 174px);
}
