$nav-height: 70px;

.arrowdd {
     font-size: 50px !important;
	 color: white;
}
.dropdown {
	position:relative;
	display: inline-block;
	font-weight: bold;
	margin-right: 30px;
    margin-top: 15px;
	height: 100%;
}

.ddContainer {
	//display: none;
	visibility: hidden;
	position:absolute;
	background-color: rgba(#67809f,0.9);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.0);
	padding-top: 1px;
	margin-top: -10px;
    margin-left: -60px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 170px;
	height:0;
	z-index: 100;
}

.dropdown:hover .ddContainer {
	visibility: visible;
	height: 220px;
	transition-property: all;
    transition-duration: 0.5s; }


.button{
    width: 150px;
	height: 0px;
    position:relative;
}

.dropdown:hover .button{
	height:80px;
	transition-property: all;
    transition-duration: 0.5s; 
}
.dropdown:hover .arrowdd{
	color:#28559a;
}