.image{
    overflow: hidden;
    width: 800px;
    height: 380px;
    z-index: 20;
    position: relative;
    border-radius: 10px;
    top:0; left:0; right:0; bottom:0 ; 
    margin: 0 auto;
}
.textbox{
    -webkit-text-stroke: 1.5px black;
    color:white;
    background-color: white;
    opacity: 0.75;
    width:800px;
    height: 120px;
    font-size: 25px;
    z-index: 30;
    position: absolute;
    top:20; left:0; right:0; bottom:0 ;
    margin: 0 auto;
    border-bottom-left-radius: 8.8px;
    border-bottom-right-radius: 8.8px;
}

.text{
    left:95px;
    bottom:-50px;
    position: absolute;
}

.box{
    position: relative;
    text-align: center;
    background-color: white;
}