.Box{
    width: 1200px;
    align-items: center;
    justify-content:baseline;
    column-gap: 30px;
    row-gap: 10px;
    height: auto;
    margin-bottom: 5px;
    text-align: center;
    display:flex;
    flex-flow: row wrap;
    margin-left: 30px;
    position:relative; 
    top:0; left:0; right:0; bottom:0; 
    margin: auto;
    background-color: rgb(240, 239, 231);
    border-radius: 30px;
    margin-top: 40px;
}

html {
    width: 100%;
  }
  body {
    min-width: 100%;
  }