.select{
	width: 310px;
    height: 50px;
	margin-bottom: 40px;
    text-align: center;
    position:relative;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(167, 169, 148);
}

.selection{
    text-align: center;
}

.selectLabel{
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 3px;
}

.page_title{
	position: relative;
    left:31%;
    margin-top: 80px;
}

.brak{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}