.containerStyles {
    height: 15px;
    width: 80%;
    background-color: #e0e0de;
    border-radius: 50px;
    display:inline-block;
    position: absolute;
    left: 35px;
    bottom: 15px;
  }

 .labelStyles {
    color:black;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }